{% extends "layout.html"%}
{% block content%}

<body>
<div class="row"
     style="width:85%; margin-left:8%;box-shadow: 0 8px 16px rgba(0, 0, 0, .1); background:#fff; padding:2%; border-radius:1%">

    <div class="col-8">
        <h2 class="text-color">Let's post a review!</h2>
        <br>
        <form action="" method="post">
            <div class="form-group">
                <input type="text" name="bookname" class="form-control" placeholder="Enter Book Title ">
            </div>
            
            <div class="form-group">
                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea1"
                              name="review"
                              rows="5" placeholder="Write your review"></textarea>

            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input name="genres" class="form-check-input" type="checkbox" id="inlineCheckbox1"
                           value="Adventure">
                    <label class="form-check-label" for="inlineCheckbox1">Adventure</label>
                </div>

               <div class="form-check form-check-inline">
                    <input name="genres" class="form-check-input" type="checkbox" id="inlineCheckbox2"
                           value="Mystery">
                    <label class="form-check-label" for="inlineCheckbox2">Mystery</label>
                </div>
                <div class="form-check form-check-inline">
                    <input name="genres" class="form-check-input" type="checkbox" id="inlineCheckbox3"
                           value="Horror">
                    <label class="form-check-label" for="inlineCheckbox2">Horror</label>
                </div>

                <div class="form-check form-check-inline">
                    <input name="genres" class="form-check-input" type="checkbox" id="inlineCheckbox5"
                           value="Romance">
                    <label class="form-check-label" for="inlineCheckbox2">Romance</label>
                </div>
                <div class="form-check form-check-inline">
                    <input name="genres" class="form-check-input" type="checkbox" id="inlineCheckbox6"
                           value="Science Fiction">
                    <label class="form-check-label" for="inlineCheckbox2">Science Fiction</label>
                </div>
                <div class="form-check form-check-inline">
                    <input name="genres" class="form-check-input" type="checkbox" id="inlineCheckbox7"
                           value="Poetry">
                    <label class="form-check-label" for="inlineCheckbox2">Poetry</label>
                </div>
        
            </div>
           




            <button type="submit" class="btn btn-primary text-center" style="margin-left:30%"> Post </button>
        </form>
    </div>
<!--<div class="col-1"></div>
    <div class="col-3" style="padding-top:1%;transform:translateX(13%)">
        <img class="d-block img-fluid" src="/static/question.png"
                                                    style="height:350px;float:right">
              <video controls autoplay="autoplay" loop width="370" style="float:right; ">

                        <source src="https://global-uploads.webflow.com/5bcb46130508ef456a7b2930/5d05f4b95b891603d2c14b6b_drawkit-grape-pack-illustration-2-transcode.mp4">

                    </video>
    </div>-->

</div>
</body>

{% endblock%}
