<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/layout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="  background: linear-gradient(115deg, #54aee3, #009ffd, #2a2a72);">

<nav class="navbar-expand-md bg-dark navbar-dark" style="font-family:calibri; color:black;">

    <ul class="nav navbar-nav ml-auto">
        <a class="navbar-brand" href="#"><strong>BookThieves</strong></a>

        <li class="nav-item">
            <a class="nav-link" href="/login"><strong>Login</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register"><strong>Register</strong></a>
        </li>

    </ul>

</nav>

<div class="container ">
    <br> <h2> &nbsp;Register </h2>

    <br>
    <div class="row ">

        <div class="col-5 pl-5">
            <form action="" method="post">

                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="username" class="form-control" placeholder="Enter name">

                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control" placeholder="Enter email">

                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                           placeholder="Password">
                </div>
                <div class="form-group">
                    <label>Profile photo</label>
                    <input type="text" name="image" class="form-control"
                           placeholder="Add profile photo">
                </div>
                

                <div class="form-group">
                    <label>About</label>
                    <input type="text" name="about" class="form-control"
                           placeholder="Add description">
                </div>

                <div class="form-group">
                    <label>Genres</label>
                    <input type="text" name="genress" class="form-control"
                           placeholder="Add genres">
                </div>
    
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>

        </div>
        <div class="col-7"><img src="https://image.freepik.com/free-vector/online-courses-concept_23-2148533386.jpg" alt=""></div>
    </div>
</div>


</body>

</html>

